/* INDEX STYLES CSS */
body {
    background-image: url("images/bartop2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.bottles {
    margin-top: 250px;
    width: 100%;
    height: 300px;
    padding: 25px;
    margin-left: 255px;
} 

.pOne{
    margin-left: 17px;
    top: 18px;
    width: 95px;
    font-size: 11px;
    text-align: center;
    position: relative;
    right: 10px;
    display: inline-block;
    color:antiquewhite;
}

.pTwo {
    margin-left: 12px;
    top: 17px;
    width: 95px;
    font-size: 15px;
    text-align: center;
    position: relative;
    right: 5px;
    display: inline-block;
    color:antiquewhite;
}

#images {
    position: absolute;
    height: 250px;
    width: 600px;
}


#btlOne {
    position: absolute;
    height: 250px;
    width: 600px;
    top: 145px;
    margin-left: 100px;
}

#btlTwo {
    position: absolute;
    height: 250px;
    width: 600px;
    top: 215px;
    margin-left: 600px;
}

.caps {
    top: -55px;
    position: relative;
    height: 100px;
    width: 45px;
    margin-left: 33px;
}


.audio {
    visibility: collapse;
}

/* NAV BAR CSS */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  font-family: 'Roboto', sans-serif;
}

.wrapper{
  text-align:center;
  margin: 10px auto;
}

h6{
    margin:0px;
    color:#777;
  }

.tabs{
  margin-top:10px;
  font-size:15px;
  padding:0px;
  list-style:none;
  background:#fff;
  box-shadow:0px 5px 20px rgba(0,0,0,0.1);
  display:inline-block;
  border-radius:50px;
  position:relative;
}

.tabs a{
  text-decoration:none;
  color: #777;
  text-transform:uppercase;
  padding:10px 20px;
  display:inline-block;
  position:relative;
  z-index:1;
  transition-duration:0.6s;
}

.tabs a.active{
  color:#fff;
}

.tabs a i{
  margin-right:5px;
}

.tabs .selector{
    height:100%;
    display:inline-block;
    position:absolute;
    left:0px;
    top:0px;
    z-index:1;
    border-radius:50px;
    transition-duration:0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    
    background: #05abe0;
    background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
    background: -webkit-linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
    background: linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#8200f4',GradientType=1 );
  }
/* BREWERY TYPE PAGE CSS*/
#brew-body {
    background-image: url("images/bartop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
}

.card {
        border-radius: 5px;
        width: 50%;
        margin-left: 50px;
        float: none;
        margin-top: 100px;
}

.searchCard {
    right: 0;
    color: #fff;
    position: fixed;
    overflow: hidden;
    top: 250px;
}



/* MAP PAGE CSS */

#map {
    height: 150%;
    width: 60%;
    margin-left: 30px;
    margin-top: 100px;
    border: solid;
    border-color: black;
  }

.display {
width: 60%;
color: black;
}

#beer-search-btn {
    background-color: #777;
    border-color: black;
    height: 32px;
    text-align: center;
}

#map-search {
    right: 130px;
    color: #fff;
    position: fixed;
    overflow: hidden;
    top: 300px;
}